{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля прошёл успешно</h1>
    </div>
    <div class="custom-center-block">
            <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
        <div class="custom-button-block">
            <button class="button button_style_blue" href = "{% url 'index' %}">Перейти на главную</button>
        </div>
    </div>
</main>
{% endblock %}
