{% extends "base.html" %}
{% block title %}Рецепты{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            <ul class="tags">
                {% for tag in tags %}
                <li class="tags__item">
                    <a id="{{ tag.id }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }} tags__checkbox_active" href="#"></a>
                    <span class="tags__label">{{ tag.title }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-list">
        {% for recipe in page %}
        <div class="card" data-id="{{ recipe.id }}">
            
            <a href="#" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
            
            <div class="card__body">
                <a class="card__title link" href="#" target="_blank">{{ recipe.title }}</a>
                <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                    <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span></li>
                    {% endfor %}
                </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.get_duration }}</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author.username }}</a></p>
                </div>
            </div>
            <div class="card__footer">
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                {% if user.is_authenticated %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                {% endif %}
            </div>
        </div>     
        {% endfor %}   
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </main>
{% endblock content %}

{% block scripts %}
  <script src={% static "js/components/MainCards.js" %}></script>

  <script src={% static "js/components/Purchases.js" %}></script>
  <script src={% static "js/components/Favorites.js" %}></script>

  <script src={% static "js/config/config.js" %}></script>
  <script src={% static "js/components/CardList.js" %}></script>
  <script src={% static "js/components/Header.js" %}></script>

  <script src={% static "js/api/Api.js" %}></script>
  {% if user.is_authenticated %}
  <script src={% static "indexAuth.js" %}></script>
  {% else %}
  <script src={% static "indexNotAuth.js" %}></script>
  {% endif %}
{% endblock scripts %}
