{% extends "base.html" %}
{% block title %}{% if form.instance.id %}Редактирование рецепта{% else %}Создание рецепта{% endif %}{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
{% load custom_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{% if form.instance.id %}Редактирование рецепта{% else %}Создание рецепта{% endif %}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">{% if form.instance %}Редактирование рецепта{% else %}Создание рецепта{% endif %}</label>
                <div class="form__field-group">
                    <input type="{{ form.title.widget_type }}" 
                    id="{{ form.title.auto_id }}" 
                    name="{{ form.title.name }}"
                    {% if form.title.value != None %} value="{{ form.title.value }}" {% endif %}
                    class="form__input" autocomplete="off">
                    <span class="form__error">{{form.title.errors}}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag_value, tag_label in form.tags.field.choices %}                    
                        <div class="tags__item">
                            <input type="checkbox" name="tags" 
                            value ="{{tag_value.instance.pk}}" 
                            id="id_{{tag_value.instance.slug}}" 
                            class="tags__checkbox tags__checkbox_style_{{tag_value.instance.color}}"
                            {% if tag_value.instance in form.instance.tags.all %} checked {% endif %}>
                            <label for="id_{{tag_value.instance.slug}}" 
                            class="tags__label">
                            {{tag_value.instance.title}}                        
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input" autocomplete="off">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                    {% for ingredient in ingredients %}
                        <div class="form__field-item-ingredient" id="ing_{{ ingredient.pk }}">
                            <span> {{ ingredient.ingredient__title }} {{ ingredient.quantity }} {{ ingredient.ingredient__dimension }}</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_{{ ingredient.pk }}" name="nameIngredient_{{ ingredient.pk }}" type="hidden" value="{{ ingredient.ingredient__title }}">
                            <input id="valueIngredient_{{ ingredient.pk }}" name="valueIngredient_{{ ingredient.pk }}" type="hidden" value="{{ ingredient.quantity }}">
                            <input id="unitsIngredient_{{ ingredient.pk }}" name="unitsIngredient_{{ ingredient.pk }}" type="hidden" value="{{ ingredient.ingredient__dimension }}">
                        </div>
                    {% endfor %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.duration.id_for_label }}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="{{ form.duration.widget_type }}" 
                    id="{{ form.duration.auto_id }}" 
                    name="{{ form.duration.name }}"
                    {% if form.duration.value != None %} value="{{ form.duration.value }}" {% endif %} 
                    class="form__input" min="1">
                    <label for="{{ form.duration.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error">{{ form.duration.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="{{ form.description.name }}" 
                    id="{{ form.description.auto_id }}"  
                    rows="8" class="form__textarea">{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea>
                    <span class="form__error">{{ form.description.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {% if form.instance.id %}
                    <label for="{{ form.image.id_for_label }}" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" name="{{ form.image.name }}" id="{{ form.image.auto_id }}" accept="image/*">                    
                    {% else %}
                    <input type="file" name="{{ form.image.name }}" id="{{ form.image.auto_id }}" accept="image/*">
                    {% endif %}
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                {% if form.instance.id %}
                <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em" href="delete" class="form__ingredient-link">Удалить</a>
                {% else %}
                <button class="button button_style_blue">Создать рецепт</button>
                {% endif %}
            </div>
        </form>
    </div>
</main>
    
{% endblock content %}

{% block scripts %}

<script src={% static "./js/config/config.js" %}></script>
<script src={% static "./js/components/Header.js" %}></script>
<script src={% static "./js/utils/debouncing.js" %}></script>
<script src={% static "./js/api/Api.js" %}></script>
<script src={% static "formRecipe.js" %}></script>
  
{% endblock scripts %}
