{% extends "base.html" %}
{% block title %}Список покупок{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}
    <main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        {% if shopping_list %}
        <ul class="shopping-list">
            {% for purchase in shopping_list  %}
            <li class="shopping-list__item" data-id="{{purchase.recipe.id}}">
                <div class="recipe recipe_reverse">
                    <img src="{{ purchase.recipe.image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{purchase.recipe.title}}</h3>
                    <p class="recipe__text"><span class="icon-time"></span>{{purchase.recipe.get_duration}}</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'shopping_list_download' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% endif %}
    </div>
    </main>
{% endblock content %}

{% block scripts %}

  <script src={% static "./js/config/config.js" %}></script>
  <script src={% static "./js/components/Header.js" %}></script>
  <script src={% static "./js/components/ShopList.js" %}></script>
  <script src={% static "./js/api/Api.js" %}></script>
  <script src={% static "shopList.js" %}></script>
  
{% endblock scripts %}
